blinker
cachelib
certifi
charset-normalizer
click
colorama
Flask
Flask-Session
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2
python-dotenv
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
Gunicorn
Flask-Mail
