<!----home section design---->
{% extends "landing.html" %}
{% block mains %}

<section class="home">
	<div class="home-text">
		<h1>Encuentra lo Mejor en esta Temporada</h1>
        <h2>Colección Exclusiva para Todos</h2>
		<a href="/shop" class="btn">Explorar</a>
	</div>

	<div class="home-img">
		<img src="/static/img/hero.png" alt="imagne fondo" >
	</div>
</section>

<!----feature section design---->
<section class="feature">
	<div class="middle-text">
		<h2>Descubre más <span>cosas buenas..</span></h2>
	</div>

	<div class="feature-content">
		<div class="rows">
			<div class="main-row">
				<div class="row-text">
				  <h2>Explora nuevos lanzamientos</h2>
				<h3>Regala el <br> placer de elegir</h3>
					<a href="/shop" class="row-btn">ver mas</a>
				</div>
				<div class="row-img">
					<img src="/static/img/d1.png" alt="imagen">
				</div>
			</div>
		</div>
		<div class="rows row3">
			<div class="main-row">
				<div class="row-text">
					<h2>Descubre las últimas tendencias</h2>
					<h3>Encuentra <br> tu estilo perfecto</h3>
					
					<a href="/shop" class="row-btn">Ver mas</a>
				</div>
				<div class="row-img">
					<img src="/static/img/p3.webp" alt="imagen">
				</div>
			</div>
		</div>

		<div class="rows row2">
			<div class="main-row">
				<div class="row-text">
				    <h2>Explora nuevos lanzamientos</h2>
                    <h3>Regala el <br> placer de elegir</h3>
					<a href="/shop" class="row-btn">Ver mas</a>
				</div>
				<div class="row-img">
					<img src="/static/img/p1.webp" alt="imagen">
				</div>
			</div>
		</div>

	

	</div>
</section>

<!----product section design---->
<section class="product">
	<div class="middle-text">
		<h3>Un poco de nuestro productos. <span>Conoce nuestro estilo personalizado
				para ti</span></h3>
	</div>

	<div class="product-content">
		{% for productos in Precios %}
		<div class="box">
			<div class="box-img">
				<img src="/static/img/imagenes/{{productos.producto.logo}}" alt="imagen">
			</div>
			<h3>{{ productos.producto.nombre }}</h3>
			<h4>{{ productos.producto.descripcion }}</h4>
			<div class="inbox">
				<div>
					<a href="#" class="price">C${{ productos.precio_actual }}</a>

				</div>
				<div class="rating">
					<a href="#"><i class="ri-star-fill"></i></a>
					<a href="#"><i class="ri-star-fill"></i></a>
					<a href="#"><i class="ri-star-fill"></i></a>
					<a href="#"><i class="ri-star-fill"></i></a>
					<a href="#"><i class="ri-star-fill"></i></a>
				</div>
			</div>

			<div class="heart">
				<i class="ri-heart-fill"></i>
			</div>
		</div>
		{% endfor %}

	</div>

</section>

<!----cta section design---->
<section class="cta-content">
	<div class="cta3">
		<div class="cta-text">

		</div>
	</div>
</section>
{% endblock %}
